.App {
  text-align: center;
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title{
  color: rgb(158, 158, 158);
  font-size: 20px;
}

.btn{
  width: fit-content;
  cursor: pointer;
}

.item-enter {
  opacity: 0.2;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-out;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-out;
}



